body{
    padding: 0% !important;
    background: linear-gradient(to bottom right, rgb(44, 44, 44), 
        rgb(71, 71, 71))!important;

}



.btn {
    margin-right: 5px;
}

.markedAsDone{
    text-decoration: line-through;
    color: #777;
}

.tableActions {
    width: 105px;
}

.img-adjust{
    max-width: 300px;
}
.container .productForm{
    padding-top: 3em;
  
}
.borderForm{
  border: 1px solid rgba(0, 0, 0, 0.219);
  border-radius: 20px 20px
}
div .navbar{
    margin: 0;
    padding: 1em;
    font-size: 1.4em;
    font-weight: bold;
    background: linear-gradient(to bottom, rgb(224, 132, 11),
    rgb(255, 152, 18)) !important
}
.card-body{
    text-align: center
}
.card-title a{ 
    color: rgb(252, 149, 14);
}
.card-title a:hover{ 
    color: rgb(255, 167, 52);
}
.card-body h5{
    color: rgb(255, 167, 52);
}
.card-body p{
    color: rgb(255, 167, 52); 
}

.containerBox{
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.15);
    background: linear-gradient(to bottom, rgb(224, 133, 13),
    rgb(252, 149, 14))
}